body * {
    font-family: 'Lato', sans-serif;
}

h1, h2, h3 {
    font-family: 'Eczar', serif;
    font-weight: lighter;
    line-height: 120%;
}

h1 {
    font-size: 4em;
}

h2 {
    font-size: 1.7em;
}

h3 {
    font-size: 1.3em;
}

section li {
    font-size: 90%;
}

footer p {
    font-size: 0.9em;
}